*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root{
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
}
table{
  width: 100%;
  height: 100%;
  border-collapse: collapse; 
}

td{
  width: 14%;
  padding: 10px;
  vertical-align: initial;
  border: 1px solid black;
}

tbody tr{
  height: 100px;
}
.notInMonth{
  position: relative;
  border: 1px solid grey;
  color: grey;
  width: 14%;
  background-color: rgba(178, 181, 186,0.3);
}
.dateCell{
  position: relative;
}

.date{
  position: absolute;
  top: 5px;
  right: 5px;
}